/* You can add global styles to this file, and also import other style files */
/* Importción de Bootstrap y sus íconos */
@use 'bootstrap/scss/bootstrap' as *;
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.card {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
